<!-- Copy of anatole's theme except it adds in a search bar to the navbar, and uses semantic nav tag -->
<nav class="page-top {{ with .Site.Params.doNotLoadAnimations }} . {{ else }} animated fadeInDown {{ end }}">
    <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
        <!-- this could have been <i class="fa fa-bars"></i> instead, but leaving as-is for now -->
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
    </a>
    <ul class="nav" id="navMenu">
        {{ $url := .RelPermalink }}
        {{ range .Site.Menus.main }}
            {{ $active := eq $url .URL }}
            <li><a {{if $active }}class="current"{{end}}
                   href="{{ .URL }}"
                        {{ if strings.HasPrefix .URL "http" }}
                            target="_blank"
                            rel="noopener noreferrer"
                        {{ end }}
                   title="{{ .Title }}">{{ .Name }}</a></li>
        {{ end }}
        {{ if .Site.IsMultiLingual }}
            {{ range $.Site.Home.AllTranslations }}
                <li><a href="{{ .Permalink }}"
                       title="{{ .Language.LanguageName }}">{{ .Language.LanguageName }}</a>
                </li>
            {{ end }}
        {{ end }}

        <!-- Search bar -->
        <li>
            <input id="search-input" class="search" placeholder="Search" type="text" >
        </li>
        <!-- End of search bar -->

        {{ if not .Site.Params.disableThemeSwitcher }}
            <li class="theme-switch-item">
                <a class="theme-switch" title="Switch Theme">
                    {{ partial "global/icon" (dict "icon_name" "icon-theme-switcher" "icon_size" "1em") }}
                </a>
            </li>
        {{ end }}
    </ul>
</nav>
