<!-- Opengraph optimized full-sized image. Usage: { { partial "global/full-image" (dict "linked_location" .RelPermalink "image_location" .Params.thumbnail "thumbnail_alt_text" .Params.thumbnail_alt_text "classes" "post-thumbnail" || "post-hero") } } -->
{{ $img := imageConfig (add "/static" (.image_location | safeURL)) }}
<div class="{{ .classes }}" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
    <a href="{{ .linked_location }}"><img src="{{ .image_location | relURL }}" alt="{{ .thumbnail_alt_text }}" loading="lazy" itemprop="contentUrl"></a>
    <meta itemprop="url" content="{{ .image_location }}">
    <meta itemprop="width" content="{{ $img.Width }}">
    <meta itemprop="height" content="{{ $img.Height }}">
</div>
