<!-- Opengraph optimized full-sized image. Usage: { { partial "global/thumbnail" (dict "linked_location" .RelPermalink "image_location" .Params.thumbnail "thumbnail_alt_text" .Params.thumbnail_alt_text "classes" "post-thumbnail" || "post-hero") } } -->
{{ $img := resources.Get (.image_location | safeURL) }}
{{ $thumbnailSmall := $img.Resize "400x q100 Box" }}
{{ $thumbnailMedium := $img.Resize "660x q80 Box" }}
{{ $thumbnailLarge := $img.Resize "900x q80 Box" }}
<div class="{{ .classes }}" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
    <a href="{{ .linked_location }}">
        <img
        src="{{ $thumbnailSmall.RelPermalink }}"
        alt="{{ .thumbnail_alt_text }}"
        loading="lazy"
        itemprop="contentUrl"
        srcset="
        {{ with $thumbnailSmall.RelPermalink }}{{.}} 400w{{ end }},
        {{ with $thumbnailMedium.RelPermalink }}{{.}} 660w{{ end }},
        {{ with $thumbnailLarge.RelPermalink }}{{.}} 900w{{ end }}
        "
        sizes="(max-width: 36em) 10.3vw,
   100vw"
        >
    </a>
    <meta itemprop="url" content="{{ .image_location }}">
    <meta itemprop="width" content="{{ $img.Width }}">
    <meta itemprop="height" content="{{ $img.Height }}">
</div>
