{{ define "main" }}
    <!-- Pretty much a copy of the anatole theme's index, but added in the reading time -->
    <div class="post {{ with .Site.Params.doNotLoadAnimations }} . {{ else }} animated fadeInDown {{ end }}">
        <!-- (Optional) Home
            -- on top of `mainSections` content (aka posts) ;
            -- as declared in content/_index.md

            One can set `mainSections = [""]` and have the content/_index.md specified here
        -->
        {{ .Content }}
    </div>

    {{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
    {{ range $paginator.Pages }}

        <article class="post {{ with .Site.Params.doNotLoadAnimations }} . {{ else }} animated fadeInDown {{ end }}" itemscope itemtype="http://schema.org/BlogPosting">

            {{ if hasPrefix .Params.thumbnail "global" }}
                {{ partial "global/thumbnail" (dict "linked_location" .RelPermalink "image_location" .Params.thumbnail "thumbnail_alt_text" .Params.thumbnail_alt_text "classes" "post-thumbnail") }}
            {{ end }}

            <div class="post-title" >
                <a href="{{ .RelPermalink }}"><h3 itemprop="headline">{{ .Title }}</h3></a>
                {{ partial "global/authorship" . }}
            </div>

            <div class="post-content" itemprop="description">
                <div class="p_part"><p>{{ .Summary }}</p></div>
            </div>

            <div class="post-footer">
                <div class="meta">
                    <div class="info">
                        <!-- Displays the publish date instead of date when post was started -->
                        <em class="fas fa-calendar-day"></em>
                        <time datetime="{{ dateFormat "2006-01-02T15:04:05-07:00" (default .Date (.PublishDate)) }}" itemprop="datePublished">
                        {{ dateFormat "2 Jan, 2006" (default .Date (.PublishDate)) }}
                        </time>

                        <em class="fas fa-stopwatch"></em>
                        <span class="reading-time">{{ i18n "reading_time" .ReadingTime }}</span>

                        <em class="fas fa-list-alt"></em>
                        {{ with .Page.Params.Categories }}{{ partial "taxonomy/categories.html" . }}{{ end }}

                        <em class="fas fa-tags"></em>
                        {{ with .Params.tags }}
                            {{- range $index, $el := . -}}
                                <a class="tag"
                                   href="{{ ( printf "tags/%s/" ( . | urlize ) ) | relLangURL }}">{{ . }}</a>
                            {{- end -}}
                        {{ end }}
                    </div>
                </div>
            </div>
        </article>
    {{ end }}

    <div class="pagination">
        {{ template "_internal/pagination.html" . }}
    </div>

{{ end }}
