{{ define "main" }}
    <!-- Pretty much a copy of the anatole theme's index, but added in the reading time -->
    <div class="post {{ with .Site.Params.doNotLoadAnimations }} . {{ else }} animated fadeInDown {{ end }}">
        <!-- (Optional) Home
            -- on top of `mainSections` content (aka posts) ;
            -- as declared in content/_index.md

            One can set `mainSections = [""]` and have the content/_index.md specified here
        -->
        {{ .Content }}
    </div>

    {{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
    {{ range $paginator.Pages }}

        <div class="post {{ with .Site.Params.doNotLoadAnimations }} . {{ else }} animated fadeInDown {{ end }}">
            {{ if .Params.thumbnail }}
            <div class="post-thumbnail">
                <a href="{{ .RelPermalink }}">
                <img src="{{ .Params.thumbnail | relURL }}" alt="{{ .Params.thumbnail_alt_text }}" loading="lazy">
                </a>
            </div>
            {{ end }}
            <div class="post-title">
                <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a>
                </h3>
            </div>
            <div class="post-content">
                <div class="p_part"><p>{{ .Summary }}</p></div>
            </div>
            <div class="post-footer">
                <div class="meta">
                    <div class="info">
                        <!-- Displays the publish date instead of date when post was started -->
                        <em class="fas fa-calendar-day"></em>
                        <time datetime="{{ dateFormat "2006-01-02T15:04:05-07:00" (default .Date (.PublishDate)) }}">
                        {{ dateFormat "2 Jan, 2006" (default .Date (.PublishDate)) }}
                        </time>

                        <em class="fas fa-stopwatch"></em>
                        <span class="reading-time">{{ i18n "reading_time" .ReadingTime }}</span>

                        <em class="fas fa-list-alt"></em>
                        {{ with .Page.Params.Categories }}{{ partial "taxonomy/categories.html" . }}{{ end }}

                        <em class="fas fa-tags"></em>
                        {{ with .Params.tags }}
                            {{- range $index, $el := . -}}
                                <a class="tag"
                                   href="{{ ( printf "tags/%s/" ( . | urlize ) ) | relLangURL }}">{{ . }}</a>
                            {{- end -}}
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    {{ end }}
    <div class="pagination">
        {{ template "_internal/pagination.html" . }}
    </div>
{{ end }}
